<template>
  <div>
    <nav>
      <ul>
        <li v-if="isLoggedIn"><a v-on:click="navigateTo({name: 'root'})" class="active left">Home</a></li>
        <li v-if="isLoggedIn"><a v-on:click="navigateTo({name: 'UserIndex'})" class="right">User</a></li>
        <li v-if="isLoggedIn"><a v-on:click="signOut" class="right">Sign Out</a></li>
        <li v-if="!isLoggedIn"><a v-on:click="navigateTo({name: 'SignIn'})" class="right">Sign In</a></li>
        <li v-if="!isLoggedIn"><a v-on:click="navigateTo({name: 'Register'})" class="right">Register</a></li>
      </ul>
    </nav>
    <!-- <h2>Welcome {{ currentUser.email }} !</h2> -->
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Navbar',
  data () {
    return {
      isLoggedIn: false,
      currentUser: false
    }
  },
  created () {
    if (firebase.auth().currentUser) {
      this.isLoggedIn = true
      this.currentUser = firebase.auth().currentUser
    }
  },
  methods: {
    signOut () {
      firebase.auth().signOut().then(() => {
        console.log('sign out completed')
        this.$router.go({path: this.$router.path})
      }).catch(function (error) {
        console.log(error)
      })
    },
    navigateTo (route) {
      this.$router.push(route)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li .right{
    float: right;
}

li .left{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
