<template>
  <div class="userIndex">
    <h3>{{ msg }}</h3>
    <h2>Hello {{ data.displayName }}</h2>
    <h2>Email: {{ data.email }}</h2>
    <router-link :to="{ name: 'UserUpdate'}">User Info</router-link>
    <button v-if="!data.emailVerified" v-on:click="verifyEmail()">Verify Email</button>
    <h3 v-if="data.emailVerified">Email Verified!</h3>
  </div>
</template>

<script>
import firebase from 'firebase'
import UserService from '@/services/UserService'
import swal from 'sweetalert2'

async function checkUserBasicInfo (uid) {
  // var registerCompleted = ''
  var userRef = firebase.firestore().collection('users').doc(uid)
  var doc = await userRef.get()
  var data = doc.data()
  return data
}

export default {
  name: 'UserIndex',
  data () {
    return {
      data: '',
      msg: ''
    }
  },
  created () {
    checkUserBasicInfo(firebase.auth().currentUser.uid)
      .then((response) => {
        if (response) {
          UserService.indexUserInfo({uid: firebase.auth().currentUser.uid})
            .then((result) => {
              // combine two results into user
              var user = Object.assign(result.data, response)
              this.data = user
              console.log(user)
            })
        } else {
          swal({
            title: 'Oops!',
            text: 'Registration not finished!',
            type: 'info',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Go finish it!'
          }).then((result) => {
            this.$router.push({name: 'UserUpdate'})
          })
        }
      }).catch((error) => {
        console.log(error)
      })
  },
  methods: {
    async verifyEmail () {
      var user = firebase.auth().currentUser
      user.sendEmailVerification().then(function () {
        console.log('email sent')
        // Email sent.
      }).catch(function (error) {
        // An error happened.
        console.log(error)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
