<template>
  <div class="userIndex">
    <h2>Hello {{ currentUser.displayName }}</h2>
    <h2>This is your email {{ currentUser.email }}</h2>
    <h2>Please tell us more about you</h2>
    <input v-model="realName" type="text" placeholder="Your True Name">
    <input v-model="birthDate" type="date" placeholder="Birth Date">
    <br>
    <input v-model="licenseNumber" placeholder="License Number">
    <select v-model="licenseType">
      <option disabled value="">Choose License Type</option>
      <option value="TW License">TW License</option>
      <option value="TW Resident Permit">TW Resident Permit</option>
      <option value="Passport">Passport</option>
    </select>
    <br>
    <button>Upload License Image</button>
    <input type="file" accept="image/*" @change="onFilePicked">
    <img :src="licenseImageUrl" height="150" alt="">
    <br>
    <textarea v-model="address" rows="4" cols="50" placeholder="Address"></textarea>
    <br>
    <input type="text" v-model="accountReceivable" placeholder="Account Receivable">
    <br>
    <button v-on:click="updateUserInfo">Submit</button>
    <br>
    <h3 style="color:red">{{ errMsg }}</h3>
  </div>
</template>
<script>
import firebase from 'firebase'
import UserService from '@/services/UserService'

export default {
  name: 'UserIndex',
  data () {
    return {
      errMsg: '',
      realName: '',
      birthDate: '',
      licenseNumber: '',
      licenseType: '',
      licenseImage: '',
      licenseImageUrl: '',
      licenseImageName: '',
      address: '',
      phoneNumber: '',
      accountReceivable: ''
    }
  },
  created () {
    if (firebase.auth().currentUser) {
      this.currentUser = firebase.auth().currentUser
    }
  },
  methods: {
    async updateUserInfo () {
      // check if the license picture field is set
      if (!this.licenseImageUrl) {
        alert('Please add License Picture')
        return
      }
      try {
        // update user info, hold licenseImage till it's done
        UserService.updateUserInfo({
          realName: this.realName,
          birthDate: this.birthDate,
          licenseNumber: this.licenseNumber,
          licenseType: this.licenseType,
          address: this.address,
          phoneNumber: this.phoneNumber,
          accountReceivable: this.accountReceivable,
          uid: firebase.auth().currentUser.uid
        }).then((response) => {
          // upload image here
          var storageRef = firebase.storage().ref()
          // starts
          var file = this.licenseImage
          console.log(file)
          // Create the file metadata
          var metadata = {
            contentType: this.licenseImageType
          }
          // Upload file and metadata to the object 'images/mountains.jpg'
          var uploadTask = storageRef.child('images/users/' + firebase.auth().currentUser.uid + '/' + file.name).put(file, metadata)
          // Listen for state changes, errors, and completion of the upload.
          uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
            function (snapshot) {
              // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
              var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
              console.log('Upload is ' + progress + '% done')
              switch (snapshot.state) {
                case firebase.storage.TaskState.PAUSED: // or 'paused'
                  console.log('Upload is paused')
                  break
                case firebase.storage.TaskState.RUNNING: // or 'running'
                  console.log('Upload is running')
                  break
              }
            }, function (error) {
            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
              switch (error.code) {
                case 'storage/unauthorized':
                  // User doesn't have permission to access the object
                  break

                case 'storage/canceled':
                  // User canceled the upload
                  break

                case 'storage/unknown':
                  // Unknown error occurred, inspect error.serverResponse
                  break
              }
            }, function () {
              // Upload completed successfully, now we can get the download URL
              var downloadURL = uploadTask.snapshot.downloadURL
              // put the downloadURL back to server to upload
              UserService.updateUserInfoLicenseImage({
                uid: firebase.auth().currentUser.uid,
                licenseImageDownloadURL: downloadURL
              }).then(response => {
                console.log(response)
              }).catch(error => {
                console.log(error)
              })
            })
          // ends
        }).catch((error) => {
          console.log(error)
        })
      } catch (error) {
        console.log(error)
      }
    },
    onFilePicked (event) {
      const files = event.target.files
      let filename = files[0].name
      // if the file doesnt have extension
      if (filename.lastIndexOf('.') <= 0) {
        alert('Please add a valid file!')
      }
      // turn this binary file to string value, for later uploads
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        // for image preview
        this.licenseImageUrl = fileReader.result
      })
      // store the raw file
      fileReader.readAsDataURL(files[0])
      this.licenseImage = files[0]
      this.licenseImageName = files[0].name
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
