<template>
  <div>
    <h1>{{ msg }}</h1>
    <input v-model="email" type="email" placeholder="Email">
    <br>
    <input v-model="password" type="password" placeholder="Password">
    <br>
    <input v-model="confirmPassword" v-on:blur="checkPassword" type="password" placeholder="Confirm password">
    {{ confirmPasswordMsg }}
    <br>
    <input v-model="displayName" placeholder="DisplayName">
    <br>
    <button v-on:click="register">Submit</button>
    <br>
    <button v-on:click="signInWithGoogle">Register With Google</button>
    <br>
    <button v-on:click="signInWithFacebook">Register With Facebook</button>
    <h3>{{ errMsg }}</h3>
  </div>
</template>

<script>
import firebase from 'firebase'
// import AuthenticationService from '@/services/AuthenticationService'
// import registerPolicy from '@/policies/RegisterPolicy'

export default {
  name: 'register',
  data () {
    return {
      email: '',
      password: '',
      confirmPassword: '',
      confirmPasswordMsg: '',
      displayName: '',
      msg: 'Register',
      errMsg: ''
    }
  },
  methods: {
    checkPassword () {
      if (this.password === this.confirmPassword) {
        this.confirmPasswordMsg = 'Good!'
      } else {
        this.confirmPasswordMsg = 'Incorrect!'
      }
    },
    register () {
      try {
        // since firebase will handle the user registrations, no need to pass to server
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
          .then(() => {
            // update user name
            var user = firebase.auth().currentUser
            user.updateProfile({
              displayName: this.displayName
            }).then(() => {
              console.log('success')
              this.$router.go({path: this.$router.path})
            }).catch(function (error) {
              console.log(error)
            })
          })
          .catch((error) => {
          // Handle Errors here.
            var errorCode = error.code
            var errorMessage = error.message
            if (errorCode === 'auth/email-already-in-use') {
              this.errMsg = errorMessage
            }
          })
      } catch (err) {
        console.log(err)
      }
    }, // the method will create account if the user isnt register yet, so use the same as sign in
    signInWithGoogle () {
      var provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(provider).then((result) => {
        // This gives you a Google Access Token. You can use it to access the Google API.
        var token = result.credential.accessToken
        // The signed-in user info.
        var user = result.user
        // ...
        console.log(user, token)
        this.$router.go({path: this.$router.path})
      }).catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code
        var errorMessage = error.message
        // The email of the user's account used.
        var email = error.email
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential
        // ...
        this.errMsg = errorMessage
        console.log(errorCode, errorMessage, email, credential)
      })
    },
    signInWithFacebook () {
      var provider = new firebase.auth.FacebookAuthProvider()
      firebase.auth().signInWithPopup(provider).then((result) => {
        // This gives you a Facebook Access Token. You can use it to access the Facebook API.
        var token = result.credential.accessToken
        // The signed-in user info.
        var user = result.user
        // ...
        console.log(user, token)
        this.$router.go({path: this.$router.path})
      }).catch((error) => {
        // cuz its the register section, the account exist with different credential would not be
        // handled here, we'll just return the account with same email is already in use
        var errorMessage = error.message
        this.errMsg = errorMessage
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
