<template>
  <div>
    <h1>{{ msg }}</h1>
    <input v-model="email" type="email" placeholder="email" />
    <br>
    <input v-model="password" ref="password" type="password" placeholder="password" />
    <br>
    <button v-on:click="signIn">Submit</button>
    <br>
    <button v-on:click="signInWithGoogle">Sign In With Google</button>
    <br>
    <button v-on:click="signInWithFacebook">Sign In With Facebook</button>
    <br>
    <button v-on:click="signInWithPhone">Sign In With Phone Number</button>
    <div id="recaptcha-container"></div>
    <br>
    <button v-on:click="forgotPassword">Forgot Password</button>
    <br>
    <h3 style="color:red">{{ errMsg }}</h3>
  </div>
</template>

<script>
import firebase from 'firebase'
// import Swal from 'sweetalert2'
// import Promise from 'promise'
// becuz the password cant be hidden in prompt,
// we'll need another solution to fetch user's password
// such as showing another hidden form to get password.....
// maybe custom a prompt box is a good idea
function promptUserForPassword () {
  var password = prompt('Please enter your password', 'Password')
  return password
}

function promptUserForEmail () {
  var email = prompt('Please enter your Email', 'Email')
  return email
}

function promptUserForPhone () {
  var phoneNumber = prompt('Please enter your Phone Number', 'Phone Number')
  return phoneNumber
}

function promptUserForPhoneVerificationCode () {
  var code = prompt('Please enter your verification code', 'verification code')
  return code
}

export default {
  name: 'signIn',
  data () {
    return {
      email: '',
      password: '',
      msg: 'Sign In',
      errMsg: ''
    }
  },
  methods: {
    signIn () {
      try {
        // since firebase will handle the user registrations, no need to pass to server
        firebase.auth().signInWithEmailAndPassword(this.email, this.password)
          .then(() => {
            this.$router.go({path: this.$router.path})
          })
          .catch((error) => {
            var errorCode = error.code
            var errorMessage = error.message
            if (errorCode === 'auth/wrong-password') {
              this.errMsg = errorMessage
            } else {
              console.log(error)
            }
          })
      } catch (err) {
        console.log(err)
      }
    },
    signInWithGoogle () {
      var provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(provider).then((result) => {
        // This gives you a Google Access Token. You can use it to access the Google API.
        var token = result.credential.accessToken
        // The signed-in user info.
        var user = result.user
        // ...
        console.log(user, token)
        this.$router.go({path: this.$router.path})
      }).catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code
        var errorMessage = error.message
        // The email of the user's account used.
        var email = error.email
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential
        // ...
        console.log(errorCode, errorMessage, email, credential)
      })
    },
    signInWithFacebook () {
      var provider = new firebase.auth.FacebookAuthProvider()
      firebase.auth().signInWithPopup(provider).then((result) => {
        // This gives you a Facebook Access Token. You can use it to access the Facebook API.
        var token = result.credential.accessToken
        // The signed-in user info.
        var user = result.user
        // ...
        console.log(user, token)
        this.$router.go({path: this.$router.path})
      }).catch((error) => {
        // An error happened.
        // If the user sign in with FB first, then sign in with google account is availabe.
        // on the other hand, the fb sign in will return error
        if (error.code === 'auth/account-exists-with-different-credential') {
          // Step 2.
          // User's email already exists.
          // The pending Facebook credential.
          var pendingCred = error.credential
          // The provider account's email address.
          var ProviderEmail = error.email
          // Get registered providers for this email.
          firebase.auth().fetchProvidersForEmail(ProviderEmail).then((providers) => {
            // Step 3.
            // If the user has several providers,
            // the first provider in the list will be the "recommended" provider to use.
            // since we only have password and google account sign in
            if (providers[0] === 'password') {
              // Asks the user his password.
              // In real scenario, you should handle this asynchronously.
              var password = promptUserForPassword() // TODO: implement promptUserForPassword.
              firebase.auth().signInWithEmailAndPassword(ProviderEmail, password).then((user) => {
                // Step 4a.
                return user.linkWithCredential(pendingCred)
              }).then(() => {
                // Facebook account successfully linked to the existing Firebase user.
                this.$router.go({path: this.$router.path})
              })

              return
            }
            // All the other cases are external providers.
            // Construct provider object for that provider.
            // TODO: implement getProviderForProviderId.
            if (providers[0] === 'google.com') {
              var provider = new firebase.auth.GoogleAuthProvider()
              firebase.auth().signInWithPopup(provider).then((result) => {
                // Remember that the user may have signed in with an account that has a different email
                // address than the first one. This can happen as Firebase doesn't control the provider's
                // sign in flow and the user is free to login using whichever account he owns.
                // Step 4b.
                // Link to Facebook credential.
                // As we have access to the pending credential, we can directly call the link method.
                result.user.linkWithCredential(pendingCred).then(() => {
                  // Facebook account successfully linked to the existing Firebase user.
                  this.$router.go({path: this.$router.path})
                })
              })
            }
            // At this point, you should let the user know that he already has an account
            // but with a different provider, and let him validate the fact he wants to
            // sign in with this provider.
            // Sign in to provider. Note: browsers usually block popup triggered asynchronously,
            // so in real scenario you should ask the user to click on a "continue" button
            // that will trigger the signInWithPopup.
          })
        }
      })
    },
    forgotPassword () {
      var auth = firebase.auth()
      var emailAddress = promptUserForEmail()

      auth.sendPasswordResetEmail(emailAddress).then(() => {
        // Email sent.
      }).catch((error) => {
        this.errMsg = error.message
        console.log(error)
      })
    },
    signInWithPhone () {
      // setting up the rendered reCAPTCHA
      firebase.auth().useDeviceLanguage()
      window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container')

      var phoneNumber = promptUserForPhone()
      var appVerifier = window.recaptchaVerifier
      firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
        .then(function (confirmationResult) {
          var code = promptUserForPhoneVerificationCode()
          confirmationResult.confirm(code).then(function (result) {
            // User signed in successfully.
            var user = result.user
            // ...
            console.log(user)
          }).catch(function (error) {
            // User couldn't sign in (bad verification code?)
            // ...
            console.log(error)
          })
          window.confirmationResult = confirmationResult
        }).catch(function (error) {
          // Error; SMS not sent
          // ...
          console.log(error)
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
