<template>
  <div class="blank">

  </div>
</template>

<script>
// import firebase from 'firebase'

export default {
  name: 'Blank',
  data () {
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
